#left-menu {
    margin-right: auto;
    margin-left: 15px;
    padding-left: 15px;
    padding-right: 15px;
    height: 400px;
    z-index: 0;
    width: 250px;
    visibility: visible;
}

.relative {
    position: relative;
}

.error {
    color: red;
}

.content-panel {
    position: absolute;
    left: 300px;
    width: 70%;
}

.orders-panel {
    position: absolute;
    left: 230px;
    width: 70%;
}

.fixed-top {
    position: fixed;
    top: 80px;
}

.search {
    width: 100%;
}

.main-image {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}

a.buttonInfo {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64, 199, 129);
    box-shadow: 0 -3px rgb(53, 167, 110) inset;
    transition: 0.2s;
}

a.buttonInfo:hover {
    background: rgb(53, 167, 110);
}

a.buttonInfo:active {
    background: rgb(33, 147, 90);
    box-shadow: 0 3px rgb(33, 147, 90) inset;
}

hr {
    color: #555; /*для IE */
    background-color: #555; /*для Firefox, Opera, Safari*/
    border: 0 none;
    height: 1px; /* высота 1px IE, Firefox, Opera, Safari */
    clear: both; /* для очистки, если тег идет после float елемента */
}

label.price {
    float: right;
    position: relative;
    z-index: 1;
    color: black;
    font-size: 135%;
    font-weight: 700;
    text-decoration: none;
    padding: .25em .5em;
}

label.price:after {
    content: ""; /* здесь 6 букв */
    position: absolute;
    z-index: -1;
    top: -2px;
    bottom: -2px;
    left: -2px;
    width: calc(100% + 2 * (1em * 50 / 135) - 2px * 2 * 2); /* где 6*(1em*90/135), где 6 - это 6 букв, 90 - это font-size after, а 135 - это font-size родителя */
    text-align: right;
    color: #fff;
    font-size: 90%;
    padding: .25em .5em;
    border-radius: 5px;
    border: 2px solid #c61e40;
    -webkit-transform: skewX(-10deg);
    transform: skewX(-10deg);
    background-size: calc(2 * (1em * 50 / 135) + .5em) 100%;
    box-shadow: inset calc(-2 * (1em * 50 / 135) - .5em) 0 rgba(255, 255, 255, 0);
    transition: .3s;
}

label.price:hover:after {
    box-shadow: inset calc(-2 * (1em * 50 / 135) - .5em) 0 rgba(255, 255, 255, .2);
}

label.price:active:after {
    background-image: linear-gradient(#c61e40, #d4536d);
}

.login-div {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.btn-login {
    float: right;
    width: 180px;
}

/*PAGINATOR*/
.paginatorList {
    margin: 2px 6px;
    list-style: none outside none;
}

.paginatorList li {
    float: left;
    padding: 2px 4px;
    font-size: 1.2em;
}

li.paginatorCurr {
    font-weight: bold;
    font-size: 1.5em;
    margin-top: -2px;
}

li.paginatorLast {
    float: none;
}

a.buyButt {
    float: right;
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: rgb(212, 75, 56); /* фон кнопки */
    padding: .7em 1.5em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
}

a.buyButt:hover {
    cursor: pointer;
    background: rgb(232, 95, 76);
}

/* при наведении курсора мышки */
a.buyButt:active {
    background: rgb(152, 15, 0);
}

/* при нажатии */

label.offerPrice {
    color: red;
}

label.offerDiscount {
    color: #2077b2;
}

.panel-canceled {
    padding: 10px 15px;
    background-color: #f1dadb;
    border-top: 1px solid #f1dadb;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.panel-paid {
    padding: 10px 15px;
    background-color: #dcf1e3;
    border-top: 1px solid #dcf1e3;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.panel-booked {
    padding: 10px 15px;
    background-color: #ecf0f1;
    border-top: 1px solid #ecf0f1;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.status-control {
    float: right;
}

.cursorPointer {
    cursor: pointer;
}
